<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NmapClientId</key>
	<string>91q506ac5n</string>
	<key>NmapSecret</key>
	<string>voyRIzkxbjLIMFlLbzMpqb4y36ag8e46pSdb5Bjd</string>
</dict>
</plist>
